@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1c1c1e;
  color: #f2ebdb;
  font-family: 'Inter', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1e;
  box-sizing: border-box;
}

.home-header {
  text-align: center;
  margin-bottom: 30px;
}

.home-tagline {
  color: #f2ebdb;
  font-size: 18px;
}

.home-main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 1;
}

.button-container {
  margin-top: 20px;
}

.learn-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #f2ebdb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

.home-footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #f2ebdb;
}


/*New stuff*/
body {
  margin: 0; /* Remove any default margins */
  padding: 0;
  height: 100vh; /* Ensure the body takes up the full viewport height */
}

#root {
  height: 100%; /* Let your app's root element use the full height */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Pushes the footer to the bottom */
  display: flex;
  flex-wrap: wrap; /* Ensures movie elements wrap within the page */
  justify-content: center; /* Optional: Centers the content */
}

img {
  max-width: 100%; /* Prevents images from overflowing horizontally */
  max-height: calc(100vh - 200px); /* Adjusts max height to avoid overlapping the footer */
  object-fit: cover; /* Keeps image proportions intact */
}
